
 *{
    margin: 0px;
    padding: 0px;
 } 


.header{
    color: white;
    background-color: #1abc9c;
    text-align: center;
    padding: 60px;
}


/* man hinh lon */
@media (min-width:700px){


    .row{
        display: flex;
        flex-direction: row;
        grid-template-columns: 30% 70%;
    }
        .navbar{
        display: flex;
        flex-direction: row;
        background: #333;
    }

}
/* man hinh nho */
@media  (max-width : 700px){
    .row{
        flex-direction: column;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        background: #333;
    }

}

.navbar a{
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    
}
.navbar a:hover{
    padding: 15px 20px;
    color: black;
    background-color: white;
}
.left{
    background-color: bisque;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.box1{
    border: 1px solid;
    height: 120px;
    background-color: aliceblue;
    margin: 10px 0px;
}
.left-title2{
    line-height: 60px;
}
.box2{
    border: 1px solid;
    height: 40px;
    background-color: aliceblue;
    margin: 10px 0;

}
.right{
    padding: 20px 15px;
    background-color: whitesmoke;   
}
.right-title1{
    line-height: 50px
}
.right-title2{
    line-height:70px;
    padding-top: 30px;
}
.footer{
   padding: 20px;
    text-align: center;
    background-color: aquamarine;

}