.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 16px;
}
@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }
.box1{
    height: fit-content;
    width: fit-content;
    background-color: rgb(114, 106, 122);
    padding: 16px;
    color: white;
    
    
}
.box2{
    height: fit-content;
    width: fit-content;
    background-color: rgb(204, 106, 106);
    padding: 16px;
    color: white;
    
}.box3{
    height: fit-content;
    width: fit-content;
    background-color: rebeccapurple;
    padding: 16px;
    color: white;
}